In [12]:
import pandas as pd

In [13]:
df = pd.read_csv('news test.csv')

In [14]:
df.shape

(251693, 37)

In [19]:
df.exp_group.unique()

array(['control', 'хронология'], dtype=object)

In [22]:
df = df.drop(['is_biterika', 'is_yandex', 'is_sber', 'is_rntv',
       'is_vtb', 'is_telegram_bot', 'is_yandex_bot', 'is_medialogia',
       'is_selectel', 'is_interfax', 'is_RT'], axis = 1)

In [27]:
df.columns

Index(['d', 'exp_group', 'bot_flg', 'user_info_user_agent',
       'user_info_yandex_uid', 'total_clicks_', 'time_to_first_click_',
       'first_click_pos_', 'sum_pos', 'end2end_sum_pos', 'kommersant',
       'kommersant_shows', 'rbc', 'rbc_shows', 'ria', 'ria_shows', 'lenta',
       'lenta_shows', 'tass', 'tass_shows', 'iz', 'iz_shows', 'interfax',
       'interfax_shows', 'queries', 'empty_results'],
      dtype='object')

In [28]:
df= df.drop(['user_info_user_agent', 'kommersant',
       'kommersant_shows', 'rbc', 'rbc_shows', 'ria', 'ria_shows', 'lenta',
       'lenta_shows', 'tass', 'tass_shows', 'iz', 'iz_shows', 'interfax',
       'interfax_shows'], axis = 1)

In [29]:
df

,d,exp_group,bot_flg,user_info_yandex_uid,total_clicks_,time_to_first_click_,first_click_pos_,sum_pos,end2end_sum_pos,queries,empty_results
0,26/04/23,control,0,1865850381682515486,0,0,0,0,0,1,1
1,28/04/23,хронология,0,8022259061682679060,0,0,0,0,0,1,0
2,28/04/23,control,1,8516704241675260594,0,0,0,0,0,278,203
3,01/05/23,control,0,6430450711682974597,0,0,0,0,0,1,0
4,27/04/23,хронология,0,5047628321682545957,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
251688,28/04/23,control,0,4935607761674553118,0,0,0,0,0,2,0
251689,26/04/23,хронология,0,4832233251682471511,0,0,0,0,0,1,0
251690,29/04/23,control,0,5520044421682742770,0,0,0,0,0,1,0
251691,29/04/23,control,0,9995464511682731826,0,0,0,0,0,1,0
251692,01/05/23,хронология,0,8870670211682936876,0,0,0,0,0,1,0